.our-dogs{
  h2{
    margin-left: 1em;
  }
  hr{
    margin-left: 4em;
    width: 15em;
    height: .3em;
  }
.images {
  margin: 0;
  padding: 0;
  width: 100%;

    img{
    margin: 0;
    padding: 0;
    width: 100%;
  }
 .col-md-3 {
   margin-right: 0;
   margin-left: 0;
   padding-right: 0;
   padding-left: 0;
   p{
     font-family: 'Permanent Marker', cursive;
     color: $light-grey;
     background: $trasp-grey;
     width: 40%;
     height: 2em;
     font-size: 30px;
     position:absolute;
     top:75%;
     left:30%;
     padding: 3%;
   }

 }
}
}
