.images {
  margin: 0;
  padding: 0;
  width: 100%;

    img{
    margin: 0;
    padding: 0;
    width: 100%;
  }
 .col-md-3 {
   margin-right: 0;
   margin-left: 0;
   padding-right: 0;
   padding-left: 0;
   p{
     color: $light-grey;
     background: $trasp-grey;
     width: 40%;
     height: 2em;
     font-size: 30px;
     position:absolute;
     top:75%;
     left:30%;
     padding: 3%;
   }

 }
}
