.exhibition {
  .col-md-4 {
    padding-right: 5%;
  }
}

.breed {
    padding-top: 2%;
    margin-top: 3%;

  .col-md-4 {
    padding-left: 5%;
  }
  img {
    margin-left: 12%;
  }

}
