.images {
  margin: 0;
  padding: 0;
  width: 100%;
}

.images img {
  margin: 0;
  padding: 0;
  width: 100%;
}

.images .col-md-3 {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}
