.about{
  color:$dark-grey;
  font-size: 20px;
  margin-bottom: 3em;
  hr{
    height: .5em;
    width: 8em;
  }
  .col-md-6{
    margin-top: 3em;
  h2{
    line-height: 1em;
  }
  img {
    margin-top: 4em;
    margin-left: 6em;
  }

  .odd {
    margin-top: 3em;

  }
  .pair{
    margin-left: 2em;
    margin-top: 3em;
  }
}
}
