.breedContainer{
  padding-top: 4em;

  .big-photo{
    padding-top: 2em;
    margin-left: 3em;
    padding-bottom: 8em;
  }
  .col-md-4{
    color:$dark-grey;
    padding-bottom: 2em;

  }
  .secondRow {
    padding-bottom: 6em;
  }
}
